<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Nunito:wght@400;700&family=Open+Sans&family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/index.css">
    <title>MSF-AdvocacyPlataform_Login</title>
</head>

<body>
    <div class="content">
        <header class="col-a">
            
        </header>
        <main class="col-b">
            <div class="enter-form">
                <div class="form-header">
                    <a href="https://www.msf.org.br/" class="logo" target="_blank">
                        <svg width="132" height="40" viewBox="0 0 132 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="25.0517" cy="20.8725" r="7.88128" stroke="#FF9029" stroke-width="2.41757"/>
                            <circle cx="39.5507" cy="4.81325" r="3.49872" transform="rotate(-5.41263 39.5507 4.81325)" stroke="#FF9029" stroke-width="1.45054"/>
                            <circle cx="3.99869" cy="24.4385" r="2.85766" transform="rotate(27.2133 3.99869 24.4385)" stroke="#FF9029" stroke-width="1.45054"/>
                            <circle cx="20.7708" cy="4.79408" r="1.85987" stroke="#FF9029" stroke-width="1.45054"/>
                            <circle cx="19.4221" cy="36.9696" r="1.90378" transform="rotate(-101.766 19.4221 36.9696)" stroke="#FF9029" stroke-width="1.45054"/>
                            <path d="M37.5745 6.70549L29.5778 14.9215" stroke="#FF9029" stroke-width="1.93406"/>
                            <path d="M21.1062 6.5127L21.974 12.5535" stroke="#FF9029" stroke-width="1.45054"/>
                            <path d="M20.3479 35.3201L21.9097 27.9802" stroke="#FF9029" stroke-width="1.45054"/>
                            <path d="M17.1459 21.0901L6.59947 23.6809" stroke="#FF9029" stroke-width="1.93406"/>
                            <path d="M30.0955 27.1098L34.9232 32.088" stroke="#FF9029" stroke-width="2.41757" stroke-linecap="square"/>
                            <path d="M50.5406 16.201V16.4311H50.7706H52.94H53.1701V16.201C53.1701 13.4221 50.9045 11.3523 47.9715 11.3523C45.0474 11.3523 42.7729 13.344 42.7729 16.0144C42.7729 17.394 43.27 18.4744 44.1114 19.288C44.9467 20.0958 46.1088 20.6291 47.4269 20.9498C48.4966 21.2144 49.3396 21.5713 49.9111 22.0361C50.4741 22.4941 50.7738 23.0555 50.7738 23.7588C50.7738 25.0474 49.6268 26.0946 48.0181 26.0946C46.3814 26.0946 45.1458 24.9241 45.1458 23.4089V23.1788H44.9157H42.7463H42.5163V23.4089C42.5163 26.3057 44.8999 28.4675 47.9715 28.4675C51.0569 28.4675 53.4267 26.4075 53.4267 23.6188C53.4267 22.1793 52.9048 21.0909 52.0195 20.2797C51.1427 19.4762 49.9229 18.9564 48.5408 18.6138C47.5081 18.3498 46.7246 17.994 46.2028 17.5456C45.6889 17.104 45.4257 16.5709 45.4257 15.9211C45.4257 14.6983 46.4842 13.7252 47.9481 13.7252C49.4396 13.7252 50.5406 14.7974 50.5406 16.201ZM55.6543 27.9575V28.1876H55.8844H57.8905H58.1206V27.9575V16.061V15.831H57.8905H55.8844H55.6543V16.061V27.9575ZM67.5814 15.551C65.9076 15.551 64.4905 16.1685 63.5194 17.2864V16.061V15.831H63.2893H61.2832H61.0531V16.061V27.9575V28.1876H61.2832H63.2893H63.5194V27.9575V21.2862C63.5194 20.2663 63.8619 19.4361 64.4477 18.8611C65.0338 18.2857 65.8824 17.9473 66.9282 17.9473C67.9377 17.9473 68.744 18.2789 69.2978 18.8435C69.8522 19.4085 70.1738 20.2276 70.1738 21.2395V27.9575V28.1876H70.4039H72.4099H72.64V27.9575V20.6097C72.64 19.0997 72.1376 17.8308 71.2427 16.939C70.3479 16.0473 69.0793 15.551 67.5814 15.551ZM86.8268 17.6934L86.8217 17.687L86.8163 17.6809C85.866 16.6207 84.882 16.0836 83.8763 15.8155C82.8843 15.551 81.8783 15.551 80.8964 15.551H80.8824C77.3393 15.551 74.704 18.3472 74.704 22.0093C74.704 25.6714 77.3393 28.4675 80.8824 28.4675C82.6828 28.4675 84.2281 27.6897 85.2709 26.4105V27.9575V28.1876H85.501H87.5071H87.7356L87.7371 27.959L87.7953 19.0223L87.7958 18.9427L87.747 18.8798L86.8268 17.6934ZM91.4965 17.7348L91.4962 17.7353L90.7279 18.8936L90.6896 18.9514V19.0208V32.3896V32.6196H90.9197H92.9257H93.1558V32.3896V26.4105C94.1986 27.6897 95.7439 28.4675 97.5444 28.4675C101.086 28.4675 103.746 25.6726 103.746 22.0093C103.746 18.346 101.086 15.551 97.5444 15.551C96.5307 15.551 95.278 15.7225 94.1559 16.0741C93.0577 16.4182 92.0358 16.9498 91.515 17.7075L91.5148 17.7073L91.4971 17.734L91.4965 17.7348ZM110.019 20.8536L110.015 20.8526C109.308 20.6815 108.762 20.4471 108.397 20.1511C108.04 19.8615 107.858 19.5157 107.858 19.0935C107.858 18.4352 108.492 17.8307 109.378 17.8307C110.307 17.8307 110.944 18.5034 110.944 19.3034V19.5335H111.174H113.25H113.48V19.3034C113.48 17.2001 111.703 15.551 109.401 15.551C107.212 15.551 105.322 16.9257 105.322 19.2101C105.322 20.3718 105.752 21.2098 106.431 21.8164C107.1 22.4144 107.998 22.776 108.921 23.0246L108.925 23.0254C109.646 23.2086 110.191 23.443 110.552 23.7409C110.904 24.0307 111.084 24.3817 111.084 24.8318C111.084 25.5563 110.408 26.1879 109.424 26.1879C108.442 26.1879 107.695 25.4618 107.695 24.5752V24.3451H107.465H105.389H105.159V24.5752C105.159 26.7721 106.983 28.4675 109.401 28.4675C110.579 28.4675 111.638 28.1031 112.406 27.4374C113.178 26.7692 113.643 25.8074 113.643 24.6452C113.643 23.5923 113.269 22.7735 112.616 22.1517C111.97 21.5369 111.065 21.1269 110.019 20.8536ZM127.88 24.2324L127.989 23.9252H127.663H125.447H125.299L125.237 24.0598C124.674 25.295 123.295 26.1646 121.575 26.1646C119.613 26.1646 118.101 24.923 117.679 23.0791H127.849H128.058L128.078 22.8719C128.102 22.6336 128.126 22.2524 128.126 22.0093C128.126 18.3338 125.314 15.551 121.575 15.551C117.859 15.551 115.023 18.3332 115.023 22.0093C115.023 25.6853 117.859 28.4675 121.575 28.4675C124.582 28.4675 126.982 26.7554 127.88 24.2324ZM56.8875 13.9118C57.761 13.9118 58.4471 13.2256 58.4471 12.3521C58.4471 11.4526 57.7583 10.7925 56.8875 10.7925C55.9959 10.7925 55.3044 11.45 55.3044 12.3521C55.3044 13.2283 55.9933 13.9118 56.8875 13.9118ZM81.2556 26.0713C78.935 26.0713 77.2169 24.3332 77.2169 22.0093C77.2169 19.6854 78.935 17.9473 81.2556 17.9473C83.552 17.9473 85.2709 19.6846 85.2709 22.0093C85.2709 24.334 83.552 26.0713 81.2556 26.0713ZM97.1711 26.0713C94.8747 26.0713 93.1558 24.334 93.1558 22.0093C93.1558 19.6846 94.8747 17.9473 97.1711 17.9473C99.4917 17.9473 101.21 19.6854 101.21 22.0093C101.21 24.3332 99.4917 26.0713 97.1711 26.0713ZM121.575 17.854C123.492 17.854 125.018 19.0525 125.465 20.8228H117.711C118.174 19.0488 119.662 17.854 121.575 17.854Z" fill="black" stroke="black" stroke-width="0.46014"/>
                        </svg>
                    </a>
                    <h1>Entre em sua conta</h1>
                    <small>Bem vindo! Preencha os campos de acesso.</small>
                </div>
                <form action="/get_in" method="post" id="form-register">
 
                    <label for="Get_In_Email_Input">Email</label>
                    <input style="top: -0.5rem; position: relative;"type="email" id="Get_In_Email_Input" name="Get_In_Email_Input" placeholder="Insira seu email cadastrado">
    
                    <label for="Get_In_Password_Input">Senha</label>
                    <input style="top: -0.5rem; position: relative;" type="password" id="Get_In_Password_Input" name="Get_In_Password_Input" placeholder="Insira sua senha cadastrada">
    
                    <button class="submit-button">Entrar</button>
                    <small style="font-size: 12px; display: block; margin-left: auto; margin-right: auto">Não tem uma conta ? <a href="https://www.w3schools.com"><u>Criar conta</u></a></small>

                </form>

            </div>
        </main>
    </div>
</body>
</html>